
.switcher-item {
  color: #bbbbbb;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  position: relative;
}

.active {
  color: white;
}

.active:before {
  position: absolute;
  content: "";
  background: #2E6242;
  height: 3px;
  bottom: -11px;
  left: 0;
  z-index: 99;
  width: 100%;
}