@font-face {
  font-family: "Quadrat";
  src: url("./Assets/Fonts/Quadrat-Regular.otf");
}

html {
  scrollbar-width: thin;
  scrollbar-color: #3E8959 #1F2322;
}

body {
  font-family: Arial, sans-serif;
  color: white;
  background: #182724;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 2px;
  height: 20px;
  background: #3E8959;
}

body::-webkit-scrollbar-track {
  background: #1F2322;
  border-radius: 2px;
}

.scrollbar {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #3E8959 #1F2322;
}

/* 滚动条样式 */
.scrollbar::-webkit-scrollbar {
  width: 4px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 2px;
  height: 20px;
  background: #3E8959;
}

.scrollbar::-webkit-scrollbar-track {
  background: #1F2322;
  border-radius: 2px;
}


input[type="number"] {
  -moz-appearance: textfield;  
}